.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6875rem 0;
    width: 100%;
    flex-wrap: wrap;
}
.header div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header div svg{
    margin-right: 120px;
}
.header div img{
    padding-right: 15%;
}
@media (max-width: 1366px) {
    .header div svg{
        margin-right: 0
    }
    .header,
    .header div {
        gap: 0.75rem;
        justify-content: center;
    }
}