.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 112px;
    max-height: 112px;
    padding: 2rem 4rem 2rem 3rem;
}
.header_nav{
    display: flex;
    align-items: center;
    gap: 36px;
}